<div class="p-grid p-align-center" style="height: 100vh"  [ngStyle]="{backgroundColor:'var(--teal-500)'}">
  <div class="p-col-6"  [ngStyle]="{color:'var(--teal-50)'}" >
    <div style="text-align: center" class="col-xs-12" [ngStyle]="{backgroundColor:'var(--teal-700)'}"  >
      <h1>Revenue</h1>
    </div>
    <div style="margin-bottom: 20px;">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <formly-form
          [model]="model"
          [fields]="fields"
          [options]="options"
          [form]="form"
          ></formly-form>
          <br>
        <div class="button-row" style="text-align:center">
          <hr>
          <button pButton pRipple type="submit" class="p-button-success" [disabled]="!form.valid" >Submit</button>
          <button pButton pRipple type="button" class="p-button-danger"(click)="options.resetModel()">Clear</button>
        </div>
      </form>
    </div>
  </div>
</div>

